<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta http-equiv="refresh" content = "10" charset="UTF-8" />
<script type="text/javascript" th:src="@{/js/Chart-min.js}"></script>
<link href="../static/css/voting.css"
          th:href="@{/css/voting.css}"
          rel="stylesheet" />
<link href="../static/css/bootstrap.css"
          th:href="@{/css/bootstrap.css}"
          rel="stylesheet" />
<link href="../static/css/bootstrap-theme.css"
          th:href="@{/css/bootstrap-theme.css}"
          rel="stylesheet" />

</head><body>
<div class="header center-block text-center" th:fragment="cabecera">
    <h1>&nbsp;Voting Results</h1>
</div>

</body>
</html>
